<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %} 
{% block content %} 

<div class="d-flex flex-column justify-content-center align-items-center vh-90">
  <p>Chat with {{ other.username }}</p>
  <div class="text-center mb-4">
    {% for message in chat %}
        <div class="text-center mb-4">
            <p class="text">{{ message.sender.username }}</p><p class="text-muted">{{ message.message }}</p>
        </div>
    {% endfor %}
  </div>
  <form method="post" class="w-100" style="max-width: 330px;">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_message" class="form-label fw-semibold"></label>
      <input
        type="text"
        name="message"
        class="form-control"
        placeholder="Message"
        required
        id="id_message"
      />
    </div>
    <button type="submit" class="btn btn-custom w-100 mb-2">
      Send
    </button>
  </form>
</div>
{% endblock content %} 